<nav>
    <div style="display: flex; justify-content: <%= current_user.present? ? 'space-between' : 'end' %>;">
        <% if current_user.present? %>
            <div>
                <%= my_posts_link + ' | ' + my_subscriptions_link + ' | ' + all_users_link %>
            </div>
        <% end %>
        <div>
            <%= current_user.present? ? (edit_user_link + ' | ' + sign_out_link) : (sign_up_link + ' | ' + sign_in_link) %>
        <div>
    </div>
</nav>
