nav {
    display: flex;
    justify-content: space-between;
}

#post_form {
    display: flex;
    align-items: center;
    gap: 2px;
}

.post_body {
    border-style: solid;
    border-radius: 4px; padding: 4px
}

#success_notice {
    color: green;
    font-weight: bold;
    opacity: 0;
    animation: fadeOut 2s ease-in;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
